<h2>My Orders</h2>

<% if user_signed_in? %>
<% @orders.each do |order| %> 
  <p>Name: <%= order.name %></p>
  <p>Email: <%= order.email %></p>
  <p>Ordered item: <% order.line_items.each do |item| %>
  <%= item.product.title %>
  <% end %>
  </p>
  <% end %>
  
<% end %> 
<%= link_to 'Back to all listings', products_path %>