
.field{
    color:rgb(205, 29, 87);
   text-align:left;
    font-size: large;
    line-height: 25px;
}

h1 {
    color:rgb(205, 29, 87);
}

.container {
    background: url("/images/bg.jpg");
    background-color: lightsteelblue
}